<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>AllBooks.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>E4B9CB571C96603F00B49C22</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>E4B9CB6E1C96604000B49C22</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>E4B9CB791C96604000B49C22</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
